.body-content {
    background: var(--clr-black);
}

.clickable {
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        color: var(--clr-light-blue);
    }

    &:active {
        color: rgba(255, 255, 255, 0.6);
    }
}

.main-content {

    color: var(--clr-white);

    // section that has task- in the class name
    section[class*="task-"] {

        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}